body {
	font-family: BebasNeue;
}

.typed, .section-content {
    font-size: 17px;
    font-family: OpenSans-CondLight;
    padding-left: 100px;
    padding-right: 100px;}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.slogan {
    font-family: BebasNeue;
    border-left: 3px solid white;
    font-size: 150px;
    color: white;
    /*padding-left: 100px;*/
    margin-left: 2%;
    max-width: 90%;
}

.container-about {
    background-color: #EBECED;
    /* margin-left: 130px; */
    width: 90%;
    /* margin-top: -150px; */
    float: right;
}


.container-about h1 {
	font-size: 260%;
}

.banner-main {
	padding-bottom: 10%;
	font-family: BebasNeue;
}
.container-footer {
	background-color: #252831;
}
.footer {
	color: white;
}

.copyright {
	background-color: #1D2128;
	margin-top: 8px;
} 

.last-row {
	margin-bottom: 0;
}

.copyright p {
	padding-top: 7px;
}

li.tab-menu {
	font-size: 33px;
} 

.form-column {
    padding-left: 0;
    padding-right: 45px;
}

.form-control {
	background-color: transparent;
}

@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue.otf);
}
@font-face {
	font-family: Calibri;
	src: url(../fonts/Calibri.ttf);
}
@font-face {
	font-family: HelveticaNeue-Thin;
	src: url(../fonts/HelveticaNeueLTStd Lt.otf);
}

@font-face {
	font-family: OpenSans-CondLight;
	src: url(../fonts/OpenSans-CondLight.ttf);
}

.about-contact {
	font-family: OpenSans-CondLight;
	font-size: 30px;
    padding-top: 2%;
}


.about-contact a {
	color: black;
}

.about-contact a:hover {
	color: #ed7161;
	text-decoration: none;
}

.about-contact > .country {
	font-size: 70%;
}

.about-contact > .mail {
	font-size: 70%;
}

.mousai-logo-header {
    font-family: HelveticaNeue-Thin;
    padding-left: 3%;
    /* padding-right: 88%; */
    max-width: 184px;
    color: white;
}

.mousai-logo-header h1 {
	margin-bottom: 0;
}

.mousai-logo-footer h1 {
	margin-bottom: 0;
	font-size: 40px;
}

.get-quote p {
    font-size: 18px;
    font-family: OpenSans-CondLight;
    padding-right: 105px;
    padding-top: 10px;
}

.get-quote a {
	font-family: OpenSans-CondLight;
	color: white;
}

.get-quote a:hover {
		color: #ed7161;
	text-decoration: none;
}

.mousai-logo-footer p {
	font-size: 16px;
}

.mousai-logo-footer {
	font-family: HelveticaNeue-Thin;
	/*padding-left: 3%;*/
	padding-right: 75px;
}

.list-menu {
	font-size: 150%
}

.footer-bar {
	background-color: #1D2128;
}

.btn-primary {
    color: #fff;
    background-color: #343b42;
     border-color: #343b42; 
}

.footer-header h3 {
	font-size: 55px;
}

.sections {
	font-size: 140%;
   /* padding-bottom: 30px;
    padding-top: 80px;
    padding-left: 2%;
    padding-right: 2%;*/
    padding: 0;
}

.sections img {
	width: 150px;
}

.sections h3 {
	margin-bottom: 20px;
	font-size: 33px;
}

.social-icon {
    width: 40px;
    /* margin: 5px; */
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 18px;
    filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.social-icon:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.social-footer {
	margin-top: 15px;
	/*padding-left: 138px;*/
}

.social-footer img {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	width: 40px;
}

.social-footer img:hover {
	  filter: none;
  -webkit-filter: grayscale(0);
}


.jupiter {
	width: 54px;
	vertical-align: middle;
	/*padding-top: 21px;*/
}

input[type=email] {
    font-size: 14px;
    color: white;

}

input[type=text], textarea[type=text] {
	 font-size: 14px;
	 color: white;
}

.form-group {
	font-family: HelveticaNeue-Thin;

}

textarea.form-control {
	font-size: 14px;
}

.about-the-team {
	height: 450px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
     background-color: transparent; 
     border: 0; 
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #8e8b8b;
    cursor: default;
    background-color: #e2dfdf;
    border: 0;
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #8e8b8b;
    cursor: default;
    background-color: #ebeced;
    background: linear-gradient(#e2dfdf,#ebeced);
    border: 0;
    border-bottom-color: transparent;
}

/*rules only for phone devices*/
@media (max-width: 768px) {

	.get-quote p {
		font-size: 18px;
		font-family: OpenSans-CondLight;
	}

	.form-column {
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-content {
		font-size: 15px;
		padding-left: 0;
		padding-right: 0;
	}
	.mousai-logo-header {
		padding-right: 0;
		font-size: 10px;
	}
	div.mousai-logo-header {
		max-width: 85px;
	} 
	.mousai-logo-footer h1 {
		font-size: 200%;
	    margin-top: 12px;
    	
	}

	.mousai-logo-footer {
		text-align: right;
		padding-right: 10px;
	}

	.jupiter {
		width: 55px;
		margin-top: 10px;
	}

	.footer-header h3 {
		text-align: left;
		padding-left: 65px;
	}

	.mousai-logo-footer p {
		font-size: 77%;
	}

	.mousai-logo-header h1 {
		font-size: 200%;
	    margin-top: 12px;

    	
	}

	.typed {
		padding-left: 20px;
		padding-right: 20px;
	}

	.mousai-logo-header p {
		font-size: 77%;
	}

	.slogan {
		font-size: 64px;
	}

	

	.container-about {
		margin-left: 0;
	}
	.sections img {
		width: 40%;
	}
	.sections {
		padding-bottom: 30px;
		padding-top: 20px;
	}
	li.tab-menu {
		font-size: 23px;
	}
	.social-footer {
		text-align: left;
	}
}

@media (max-width: 980px) and (min-width: 768px) {
	.slogan {
		font-size: 98px;
	}
}

@media (max-width: 1050px) {
	.about-the-team {
		height: 600px;
	}
}


@media (min-width: 1200px) {
	.mousai-logo-footer {
		text-align: center;
	}	

	.mousai-logo-footer p {
		padding-left: 24px;
	}
}
@media (max-width: 832px) and (min-width: 768px) {
	.mousai-logo-footer {
		padding-right: 64px;
	}
}

@media (min-width: 981px) and (max-width: 1187px) {
	.slogan {
		font-size: 120px;
	}
}

ul a {
	font-size: 25px;	
}




.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

/* =============================================================================
  ICONS - DEMO 1
============================================================================= */
/**
 * "icon-mono" class name used to indicate monochrome-type icon. Use whatever
 * class name you want, but make sure to change it up in the markup.
 *
 * Example HTML:
 *
 * <a href="#" class="icon icon-mono facebook">facebook</a>
 * <a href="#" class="icon icon-mono twitter">twitter</a>
 * ...
 */

.icon-mono {
  background: url("../img/icons1.png");
  background-image: url("../img/icons1.svg"), none;
  background-color: #595959;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
  background-position: 0 0;
}

.icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 0 -96px;
}




@media (max-width: 768px) {
	.slogan {
		margin-top: 100px;
	}
	.about-the-team {
    height: 500px;
	}
	.container-about {
		width: 100%;
	}
	.footer-header h3 {
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
	}
	.footer-header img {
		display: inline-block;
		vertical-align: middle;
	}
	.sections img {
    width: 30%;
	}
	.about-contact {
		font-size: 33px;
	}
	.sections {
    /*padding-bottom: 30px;*/
    /*padding-top: 20px;*/
    padding-left: 15px;
    padding-right: 15px;
	}
	.jupiter {
		padding-top: 10px;
		float: left;
	}
	.embrace {
		height: 90px;
	}

}

@media (min-width: 769px) and (max-width: 992px) {
	.about-the-team {
    height: 515px;
	}
	.slogan {
    font-size: 103px;
    margin-top: 120px;
	}
	.footer-header h3 {
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
	}
	.footer-header img {
		display: inline-block;
		vertical-align: middle;
	}
	.jupiter {
		width: 40px;
	}
	.insta {
		margin-left: 12px;
	}
		.embrace {
		height: 100px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {

	.slogan {
		font-size: 130px;
		margin-top: 130px;
	}	
	.footer-header h3 {
		display: inline-block;
		vertical-align: middle;
	}
	.footer-header img {
		display: inline-block;
		vertical-align: middle;
	}
	.about-the-team {
		height: 350px;
	}
	.insta {
		margin-left: 12px;
	}
	.embrace {
		height: 130px;
	}
}

@media (min-width: 1201px) { 
	.slogan {
		font-size: 150px;
		margin-top: 150px;
	}
	.about-the-team {
		height: 330px;
	}
	/*li.tab-menu {
    font-size: 33px;
    display: inline-block;
    width: 565px;
    float: initial;
	}*/
	.footer-header h3 {
		display: inline-block;
		vertical-align: middle;
	}
	.footer-header img {
		display: inline-block;
		vertical-align: middle;
	}
	.insta {
		margin-left: 12px;
	}
	li.tab-menu {
    font-size: 33px;
    width: 483px;
    display: inline-block;
    vertical-align: middle;
    float: inherit;
	}
	.compact {
		padding-left: 115px;
		padding-right: 115px;	
	}
	.embrace {
		height: 150px;
	}
	
}

.nav-tabs>li>a {
    color: black;
}
.nav>li>a:hover {
    /*text-decoration: none;*/
     background-color: transparent;
     color: #ed7161;
}
.nav-tabs>li>a:hover {
     border-color: transparent; 
}

@media (max-width: 487px) {
	.slogan {
		font-size: 38px;
	}
	.about-contact {
		font-size: 25px;
	}
	.embrace {
		height: 48px;
	}
}

@media (max-width: 1292px) and (min-width: 1201px) {
	/*li.tab-menu {
		width: 50%;
		float: left;
	}*/


}








