body {
	font-family: BebasNeue;
}

.typed, .section-content {
	font-size: 12px;
	font-family: Calibri;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.slogan {
	/*font-size: ;*/
	font-family: BebasNeue;
	border-left: 3px solid white;
    font-size: 900%;
	color: white;
	padding-left: 5%;
    margin-left: 5%;
}
.container-about {
	background-color: #EBECED;
	margin-left: 3%;
}

.container-about h1 {
	font-size: 210%;
}

.banner-main {
	padding-bottom: 10%;
	font-family: BebasNeue;
}
.container-footer {
	background-color: #252831;
}
.footer {
	color: white;
}
li.tab-menu {
	font-size: 130%;
} 

@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue.otf);
}
@font-face {
	font-family: Calibri;
	src: url(../fonts/Calibri.ttf);
}
@font-face {
	font-family: HelveticaNeue-Thin;
	src: url(../fonts/HelveticaNeueLTStd Lt.otf);
}

.about-contact {
	font-size: xx-large;
    padding-top: 2%;
}

.about-contact > .country {
	font-size: 70%;
}

.about-contact > .mail {
	font-size: 60%;
}

.mousai-logo {
	font-family: HelveticaNeue-Thin;
	padding-left: 3%;
}
.list-menu {
	font-size: 150%
}

.footer-bar {
	background-color: #1D2128;
}

.btn-primary {
    color: #fff;
    background-color: #343b42;
     border-color: #343b42; 
}

.sections {
	font-size: 140%;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.sections img {
	width: 150px;
}

.sections h3 {
	margin-bottom: 20px;
}

.social-icon {
	width: 10%;
}
.jupiter {
	width: 10%;
	vertical-align: middle;
}

input[type=text] {
	    font-size: 1.5rem;	
}

@media (max-width: 768px) {
	div.mousai-logo {
		max-width: 25%;
	} 
	.mousai-logo h1 {
		font-size: 130%;
	    margin-top: 12px;
    	margin-bottom: 0;
	}
	.mousai-logo  p {
		font-size: 50%;
	}
	.slogan {
		font-size: 300%;
	}
	.container-about {
		margin-left: 0;
	}
	.sections img {
		width: 50%;
	}
}

