body {
	font-family: BebasNeue;
}

.typed, .section-content {
    font-size: 17px;
    font-family: Calibri;
    padding-left: 100px;
    padding-right: 100px;}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.slogan {
	/*font-size: ;*/
	font-family: BebasNeue;
	border-left: 3px solid white;
    font-size: 900%;
	color: white;
	padding-left: 5%;
    margin-left: 2%;
    max-width: 90%;
}
.container-about {
	background-color: #EBECED;
	margin-left: 80px;
}

.container-about h1 {
	font-size: 260%;
}

.banner-main {
	padding-bottom: 10%;
	font-family: BebasNeue;
}
.container-footer {
	background-color: #252831;
}
.footer {
	color: white;
}

.copyright {
	background-color: #1D2128;
	margin-top: 8px;
} 

.last-row {
	margin-bottom: 0;
}

.copyright p {
	padding-top: 7px;
}

li.tab-menu {
	font-size: 33px;
} 

.form-column {
    padding-left: 0;
    padding-right: 45px;
}

.form-control {
	background-color: transparent;
}

@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue.otf);
}
@font-face {
	font-family: Calibri;
	src: url(../fonts/Calibri.ttf);
}
@font-face {
	font-family: HelveticaNeue-Thin;
	src: url(../fonts/HelveticaNeueLTStd Lt.otf);
}

.about-contact {
	font-size: 50px;
    padding-top: 2%;
}

.about-contact > .country {
	font-size: 70%;
}

.about-contact > .mail {
	font-size: 60%;
}

.mousai-logo-header {
    font-family: HelveticaNeue-Thin;
    padding-left: 3%;
    /* padding-right: 88%; */
    max-width: 167px;
}

.mousai-logo-header h1 {
	margin-bottom: 0;
}

.mousai-logo-footer h1 {
	margin-bottom: 0;
	font-size: 40px;
}

.get-quote p {
    font-size: 18px;
    padding-right: 105px;
    padding-top: 10px;
}

.mousai-logo-footer p {
	font-size: 16px;
}

.mousai-logo-footer {
	font-family: HelveticaNeue-Thin;
	/*padding-left: 3%;*/
	padding-right: 100px;
}

.list-menu {
	font-size: 150%
}

.footer-bar {
	background-color: #1D2128;
}

.btn-primary {
    color: #fff;
    background-color: #343b42;
     border-color: #343b42; 
}

.footer-header h3 {
	font-size: 35px;
}

.sections {
	font-size: 140%;
    padding-bottom: 30px;
    padding-top: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.sections img {
	width: 150px;
}

.sections h3 {
	margin-bottom: 20px;
	font-size: 33px;
}

.social-icon {
	width: 52px;
    /* margin: 5px; */
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 18px;
}

.social-footer {
	margin-top: 15px;
	/*padding-left: 138px;*/
}

.social-footer img {
	width: 40px;
}


.jupiter {
	width: 40px;
	vertical-align: middle;
	padding-top: 18px;
}

input[type=text], textarea[type=text] {
	 font-size: 14px;
	 color: white;
}

.form-group {
	font-family: HelveticaNeue-Thin;

}

textarea.form-control {
	font-size: 14px;
}

.about-the-team {
	height: 450px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
     background-color: transparent; 
     border: 0; 
    border-bottom-color: transparent;
}

/*rules only for phone devices*/
@media (max-width: 768px) {

	.get-quote p {
		font-size: 22px;
	}

	.form-column {
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-content {
		font-size: 15px;
		padding-left: 0;
		padding-right: 0;
	}
	.mousai-logo-header {
		padding-right: 0;
		font-size: 10px;
	}
	div.mousai-logo-header {
		max-width: 85px;
	} 
	.mousai-logo-footer h1 {
		font-size: 200%;
	    margin-top: 12px;
    	
	}

	.mousai-logo-footer {
		text-align: right;
		padding-right: 10px;
	}

	.jupiter {
		width: 55px;
		margin-top: 10px;
	}

	.footer-header h3 {
		text-align: left;
		padding-left: 65px;
	}

	.mousai-logo-footer p {
		font-size: 77%;
	}

	.mousai-logo-header h1 {
		font-size: 200%;
	    margin-top: 12px;

    	
	}

	.typed {
		padding-left: 20px;
		padding-right: 20px;
	}

	.mousai-logo-header p {
		font-size: 77%;
	}

	.slogan {
		font-size: 64px;
	}
	.container-about {
		margin-left: 0;
	}
	.sections img {
		width: 40%;
	}
	.sections {
		padding-bottom: 30px;
		padding-top: 20px;
	}
	li.tab-menu {
		font-size: 23px;
	}
	.social-footer {
		text-align: left;
	}
}

@media (max-width: 980px) and (min-width: 768px) {
	.slogan {
		font-size: 98px;
	}
}

@media (max-width: 1050px) {
	.about-the-team {
		height: 600px;
	}
}

